* {
	border: none;
	border-radius: 0;
	font-family: "Terminus";
	font-size: 14px;
	color: #60A6A6;
}

window {
	background: #030D0D;
	border-bottom: none;
}

#workspaces button {
	padding: 0 2px;
	background: #082626;
}

#workspaces button.focused {
	background: #146666;
}

#workspaces button.urgent {
	background: #CC6690;
	color: #082626;
}

#pulseaudio.mute {
	background-color: #7C78C1;
}

#mode, #clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #idle_inhibitor, #tray {
	padding: 0 10px;
	background-color: #082626;
}

#battery.charging {
	background-color: #093434;
}

#battery.full {
	background-color: #62C67C;
	color: #020C0D;
}

#battery.warning {
	background-color: #EDBC77;
}

#battery.critical {
	background-color: #CC6666;
}

#idle_inhibitor.activated {
	color: #082626;
	background-color: #7C78C1;
}
